<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schnitzeljagd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img
    src="../assets/schnitzel.webp"
    alt="Schnitzeljagd"
    style="height: 300px; margin:20px"
  ></ion-img>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let jagd of jagds">
        <ion-label>
          <h2>{{ jagd.name }}</h2>
          <p>Datum: {{ jagd.date }}</p>
          <p>Zeit: {{ jagd.time }}</p>
          <p>Aufgaben abgeschlossen: {{ jagd.tasks_done }} / {{ jagd.tasks_long }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-button expand="full" (click)="navigateToName()">Schnitzeljagd starten</ion-button>
</ion-content>
