<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Schnitzeljagd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img
    src="../assets/schnitzel.webp"
    alt="Schnitzeljagd"
    style="height: 300px; margin:20px"
  ></ion-img>

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Leaderboard</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let jagd of jagds; let i = index">
      <ion-label>
        <h2>{{ i + 1 }}. Schnitzeljagd - {{ jagd.name }}</h2>
        <p>Score: {{ jagd.score.join(' ') }}</p>
        <p>Date: {{ jagd.date }}</p>
        <p>Time: {{ jagd.gameTime }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="navigateToName()">Schnitzeljagd starten</ion-button>
</ion-content>
