ion-content {
  --background: #ffffff;
  position: relative;
  height: 100vh;

  .form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;

    .input-box {
      margin-bottom: 20px;

      .input-label {
        display: block;
        margin-bottom: 8px;
        font-size: 18px;
        font-weight: 500;
        color: #000;
      }

      .input-field {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #ffffff;
        color: #000000;
        outline: none;
      }
    }

    .confirm-button {
      width: 100%;
      padding: 12px 0;
      background-color: #00821e;
      color: #ffffff;
      font-size: 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: opacity 0.3s ease;

      &:disabled {
        opacity: 0.5; /* Button halb durchsichtig, wenn deaktiviert */
        cursor: not-allowed; /* Kein Klick möglich */
      }
    }
  }
}
