<ion-card class="task-box">
  <ion-card-header>
    <ion-card-title>Mission 3: QR-Code Entschlüsseln!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p class="task-description">
      Scanne den QR-Code mit deiner Kamera und überprüfe, ob der Inhalt mit dem
      vorgegebenen Text übereinstimmt.
      <strong>Nur wenn der Code passt, ist die Aufgabe geschafft!</strong>
    </p>
    <ion-button expand="block" class="camera-button" (click)="checkTheQrCode()"
      >📷 Kamera öffnen</ion-button
    >
  </ion-card-content>
</ion-card>
