<!-- Dynamic Task Section -->
  <div class="task-section">
    <h2>Aufgabe 1</h2>
    <p>Laufe zum Ping Pong Tisch!</p>
    <p class="distance">
      Verbleibende Distanz:
      {{ distance !== null ? (distance | number: '1.0-2') : 'Lade...' }} m
    </p>
    <ion-img src="./assets/image1.jpeg" alt="Ping Pong Tisch"></ion-img>

    <!-- Disable the button until distance < 10 meters -->
    <ion-button
      expand="full"
      color="success"
      [disabled]="distance === null || distance >= 10"
      (click)="moveToNextTask()">
      Weiter
    </ion-button>
  </div>

