<ion-header>
  <ion-toolbar>
    <ion-title>Schnitzeljagd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding schnitzeljagd-page">
  <div class="profile">
    <h2>Jason</h2>
    <p>Zeit: 5:35</p>
    <img src="assets/avatar.png" alt="Avatar" class="avatar" />
  </div>

  <div class="score-section">
    <h3>Dein Score:</h3>
    <div class="score-icons">
    </div>
  </div>

  <ion-button expand="block" class="leaderboard-button">
    Zum Leaderboard
  </ion-button>
</ion-content>
