<div class="task-section">
  <h2>Mission 2: Schnitzeljagd!</h2>
  <p>Deine Aufgabe: Laufe 10 Meter und erreiche das Ziel!</p>
  <p class="distance-info">
    Verbleibende Distanz: {{ (goalDistance - (distance || 0)) | number: '1.0-2' }} m
  </p>
  <ion-img src="./assets/image1.jpeg" alt="Laufen"></ion-img>

  <!-- Success message and image -->
  <div *ngIf="taskComplete" class="success-message">
    <p class="success">Herzlichen Glückwunsch! Du hast es geschafft!</p>
    <ion-img src="./assets/schnitzel.webp" alt="Erfolg!"></ion-img>
  </div>
</div>
